---
layout: default
---

<div class="home">
  <div class="latest-entry">
	<div class="post-date">
      <div class="day">23</div>
      <div class="month">Mar</div>
    </div>
	 <div class="entry-info">
		<h1><a href="/subscribe/">如何收听 .NET FM </a></h1>
		<div class="entry-content">你可以选择第三方平台订阅收听，如 <a href="http://www.ximalaya.com/zhubo/45305355">喜马拉雅</a>、<a href="http://www.lizhi.fm/1996857/">荔枝 FM、<a href="http://www.qingting.fm/#/vchannels/147160">蜻蜓 FM</a>，或者根据本篇<a href="/subscribe/">教程</a>在 iTunes、iPhone、Android 上收听订阅我们的播客</div>
	</div>
  </div>
  <div class="latest-entry">
    {% assign post = site.posts.first %}
    <div class="post-date">
      <div class="day">{{ post.date | date: "%-d" }}</div>
      <div class="month">{{ post.date | date: "%b/%Y" }}</div>
    </div>
    <div class="entry-info">
      <h1 class="entry-title">
      {% assign content = post.content %}
      {% if post.title %}
      <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
      </h1>
      <div class="post-meta"><a href="{{ post.audiolink }}">Download Episode</a> • <a href="{{ root_url }}{{ post.url }}#disqus_thread">Comments</a></div>

      <audio class="episode-player" controls="" preload="none">
        <source src="{{ post.audiolink }}" />
      </audio>
      <div class="entry-content">{{ content }}</div>
    </div>
  </div>

  <ul class="post-list">
    {% for post in site.posts offset:1 %}
      <li>
        <div class="post-date">
          <div class="day">{{ post.date | date: "%-d" }}</div>
          <div class="month">{{ post.date | date: "%b/%Y" }}</div>
        </div>
        <div class="post-info">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <div class="post-meta"><a href="{{ post.audiolink }}">Download Episode</a> • <a href="{{ root_url }}{{ post.url }}#disqus_thread">Comments</a></div>
          <audio class="episode-player" controls="">
            <source src="{{ post.audiolink }}" />
          </audio>
        </div>
        <div class="post-summary">
          {{ post.excerpt }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
